{% extends 'base.html' %}

{%  block content %}
    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
            <p>
{#                user로 설정을 해두면 접속한 사람의 내용만 나옴. 우리는 특정 pk를 가진 사람의 페이지를 구현해야함#}
                {{ target_user.date_joined }}
            </p>
            <h2>
                {{ target_user.username }}
            </h2>
{#            본인 페이지에 본인이 들어왔을 때 수정이 가능하게 함#}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    Change Info
                </p>
            </a>
        </div>
    </div>
{% endblock %}