{% extends 'base.html' %}

{% block content %}
    <div style="border-radius: 1rem; margin: 2rem;text-align : center">
        <h1>
            testing
        </h1>
{#        데이터를 보내는 방법- form태그로 감싸주고 보낼 곳을 명시한다. #}
{#        views.py를 거쳐서 렌더링 하게 된다.#}

        <form action="/account/hello_world/" method="post">
            {%  csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>
        </form>

        {%  if hello_world_list  %}
            {%  for hello_world in hello_world_list %}
                <h4>
{#                    {{ hello_world_output.text }}#}
                    {{ hello_world.text }}
                </h4>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}